<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shopping Malls List</title>
</head>
<body>
<h2>Shopping Malls</h2>
<ul>
    <form action="/insertUser" method="post">
        <label for="username">사용자 이름:</label>
        <input type="text" id="username" name="username"><br>
        <label for="password">비밀번호:</label>
        <input type="password" id="password" name="password"><br>
        <label for="email">이메일:</label>
        <input type="email" id="email" name="email"><br>
        <input type="submit" value="가입">
    </form>
</ul>
</body>
</html>