<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.freshkit.shop.mapper.QuicksMapper">

    <insert id="registerItem">
        INSERT INTO ITEM (ID, NAME) VALUES ( #{id}, #{name} );
    </insert>

    <select id="findById" resultType="com.freshkit.shop.dto.ItemDto" parameterType="java.util.HashMap">
        select ID,NAME from item where ID = #{id} ;

    </select>



</mapper>